<div id="individuals" data-ng-controller="MeetCtrl as meet">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
            <a href="#/1/teams" aria-controls="team" role="tab" data-toggle="tab">Team Scores</a>
        </li>
        <li role="presentation"  class="active">
            <a href="#/1/individuals"aria-controls="indiv" role="tab" data-toggle="tab">Individual Scores</a>
        </li>
        <li class="pull-right" role="presentation">
            <a href="#/1/settings" aria-controls="settings" role="tab" data-toggle="tab">Meet Settings</a>
        </li>
    </ul>
    <br>

    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">Women</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>AA</th>
                            <th>Vault</th>
                            <th>Beam</th>
                            <th>Bars</th>
                            <th>Floor</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="gymnast in meet.women">
                                <td>#</td>
                                <td>{{gymnast.name}}</td>
                                <td>{{gymnast.aa}}</td>
                                <td>{{gymnast.v}}</td>
                                <td>{{gymnast.b}}</td>
                                <td>{{gymnast.ub}}</td>
                                <td>{{gymnast.f}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">Men</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>AA</th>
                            <th>Vault</th>
                            <th>Floor</th>
                            <th>Pommel</th>
                            <th>Rings</th>
                            <th>P Bars</th>
                            <th>High Bar</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="gymnast in meet.men">
                                <td>#</td>
                                <td>{{gymnast.name}}</td>
                                <td>{{gymnast.aa}}</td>
                                <td>{{gymnast.v}}</td>
                                <td>{{gymnast.f}}</td>
                                <td>{{gymnast.p}}</td>
                                <td>{{gymnast.r}}</td>
                                <td>{{gymnast.pb}}</td>
                                <td>{{gymnast.hb}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
