<div id="individuals" data-ng-controller="MeetCtrl as meet">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
            <a href="#/{{meetID}}/teams" aria-controls="team" role="tab" data-toggle="tab">Team Scores</a>
        </li>
        <li role="presentation"  class="active">
            <a href="#/{{meetID}}/individuals" aria-controls="indiv" role="tab" data-toggle="tab">Individual Scores</a>
        </li>
        <li class="pull-right" role="presentation">
            <a href="#/{{meetID}}/settings" aria-controls="settings" role="tab" data-toggle="tab">Meet Settings</a>
        </li>
    </ul>
    <br>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input type="text" class="form-control" placeholder="Search for gymnast by first name" ng-model="filter">
            </div>
        </div>
    </form>


    <div class="panel panel-default">
        <div class="panel-heading">Women</div>
        <div class="panel-body">

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Team</th>
                    <th>
                        <a ng-click="sortBy = 'score'">
                            AA
                            <span ng-show="sortBy == 'score'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'wVault'">
                            Vault
                            <span ng-show="sortBy == 'wVault'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'wBars'">
                            Bars
                            <span ng-show="sortBy == 'wBars'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'wBeam'">
                            Beam
                            <span ng-show="sortBy == 'wBeam'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'wFloor'">
                            Floor
                            <span ng-show="sortBy == 'wFloor'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="gymnast in meet.women | orderBy:[sortBy, 'score']:sortReverse | filter:filter">
                        <td>{{gymnast.first}} {{gymnast.last}}</td>
                        <td>{{wteams[gymnast.teamID]}}</td>
                        <td>{{gymnast.score}}</td>
                        <td>
                            <input class="eventScore"
                                   title="wVault" value="{{gymnast.wVault}}"
                                   type="number" min="0" max="10"
                                   ng-model="gymnast.wVault"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'wVault', gymnast.wVault)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="wBars" value="{{gymnast.wBars}}"
                                   type="number" min="0" max="10"
                                   ng-model="gymnast.wBars"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'wBars', gymnast.wBars)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="wBeam" value="{{gymnast.wBeam}}"
                                   type="number" min="0" max="10"
                                   ng-model="gymnast.wBeam"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'wBeam', gymnast.wBeam)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="wFloor" value="{{gymnast.wFloor}}"
                                   type="number" min="0" max="10"
                                   ng-model="gymnast.wFloor"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'wFloor', gymnast.wFloor)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">Men</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Team</th>
                    <th>
                        <a ng-click="sortBy = 'score'">
                            AA
                            <span ng-show="sortBy == 'score'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'mFloor'">
                            Floor
                            <span ng-show="sortBy == 'mFloor'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'mPommel'">
                            Pommel
                            <span ng-show="sortBy == 'mPommel'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'mRings'">
                            Rings
                            <span ng-show="sortBy == 'mRings'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'mVault'">
                            Vault
                            <span ng-show="sortBy == 'mVault'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'mParallel'">
                            P Bars
                            <span ng-show="sortBy == 'mParallel'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'mHigh'">
                            High Bar
                            <span ng-show="sortBy == 'mHigh'" class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="gymnast in meet.men | orderBy:[sortBy, 'score']:sortReverse | filter:filter">
                        <td>{{gymnast.first}} {{gymnast.last}}</td>
                        <td>{{mteams[gymnast.teamID]}}</td>
                        <td ng-model="gymnast.aa">{{gymnast.score}}</td>
                        <td>
                            <input class="eventScore"
                                   title="mFloor" value="{{gymnast.mFloor}}"
                                   type="number" min="0"
                                   ng-model="gymnast.mFloor"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'mFloor', gymnast.mFloor)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="mPommel" value="{{gymnast.mPommel}}"
                                   type="number" min="0"
                                   ng-model="gymnast.mPommel"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'mPommel', gymnast.mPommel)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="mRings" value="{{gymnast.mRings}}"
                                   type="number" min="0"
                                   ng-model="gymnast.mRings"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'mRings', gymnast.mRings)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="mVault" value="{{gymnast.mVault}}"
                                   type="number" min="0"
                                   ng-model="gymnast.mVault"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'mVault', gymnast.mVault)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="mParallel" value="{{gymnast.mParallel}}"
                                   type="number" min="0"
                                   ng-model="gymnast.mParallel"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'mParallel', gymnast.mParallel)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="mHigh" value="{{gymnast.mHigh}}"
                                   type="number" min="0"
                                   ng-model="gymnast.mHigh"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'mHigh', gynast.mHigh)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
