<div id="meet-settings" data-ng-controller="MeetCtrl as meet">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
            <a href="#/1/teams" aria-controls="team" role="tab" data-toggle="tab">Team Scores</a>
        </li>
        <li role="presentation">
            <a href="#/1/individuals" aria-controls="indiv" role="tab" data-toggle="tab">Individual Scores</a>
        </li>
        <li class="active pull-right" role="presentation">
            <a href="#/1/settings" aria-controls="settings" role="tab" data-toggle="tab">Meet Settings</a>
        </li>
    </ul>
    <br>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="heading-title">
                        Meet Settings
                    </h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="name-addon">Meet Name</span>
                                <input title="name" type="text" class="form-control"  ng-model="meet.info.info[0].name" value="{{meet.info.info[0].name}}" aria-describedby="name-addon">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="host-addon">Hosting School</span>
                                <input title="host" type="text" class="form-control" ng-model="meet.info.info[0].host" value="{{meet.info.info[0].host}}" aria-describedby="host-addon">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="location-addon">Location</span>
                                <input title="location" type="text" class="form-control" ng-model="meet.info.info[0].location" value="{{meet.info.info[0].location}}" aria-describedby="location-addon">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="date-addon">Event Date</span>
                                <input title="date" type="text" class="form-control" ng-model="meet.info.info[0].date" value="{{meet.info.info[0].date}}" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="form-group col-lg-12"  align="center">
                            <div class="input-group">
                                <label class="radio-inline"><input type="radio" ng-model="public" ng-value="meet.info.info[0].public" name="public">Public</label>
                                <label class="radio-inline"><input type="radio" ng-model="public" ng-value="!meet.info.info[0].public" name="private">Private</label>
                            </div>
                        </div>
                        <div class="form-group col-lg-12" align="center">
                            <button type="submit" class="btn btn-primary" ng-click="updateMeetInfo()">Send form</button>
                            <button type="reset" class="btn btn-default">cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="heading-title">
                        <div data-ng-controller="MeetModalCtrl as addUser">
                            <button type="button" class="btn btn-default pull-right" ng-click="addUserToMeetModal()">Add User</button>
                        </div>
                        COGSS users with access
                    </h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="user in meet.users">
                            <tr>
                                <td>{{user.first}} {{user.last}}</td>
                                <td>{{user.email}}</td>
                                <td><button type="button" class="btn btn-sm btn-danger" ng-click="deleteUserFromMeet(user.userID)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="AddUserToMeetModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="menModalLabel">Add a new men's team</h4>
        </div>
        <div class="modal-body">
            <form name="myForm">
                <label for="repeatSelect"> Select user to give access: </label>
                <select name="repeatSelect" id="repeatSelect" ng-model="data.user">
                    <option ng-repeat="user in data.users" ng-value="user.userID">{{user.email}}</option>
                </select>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Add user</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
