<div id="teams" data-ng-controller="MeetCtrl as meet">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#/{{meetID}}/teams" aria-controls="team" role="tab" data-toggle="tab">Team Scores</a>
        </li>
        <li role="presentation">
            <a href="#/{{meetID}}/individuals" aria-controls="indiv" role="tab" data-toggle="tab">Individual Scores</a>
        </li>
        <li class="pull-right" role="presentation">
            <a href="#/{{meetID}}/settings" aria-controls="settings" role="tab" data-toggle="tab">Meet Settings</a>
        </li>
    </ul>
    <br>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="heading-title">
                        <div data-ng-controller="MeetModalCtrl as openMeet">
                            <button type="button" class="btn btn-default pull-right" ng-click="openAddWomensTeamModal('lg')">Add Team</button>
                        </div>
                        Women's Teams
                    </h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ToDo: Selected row can be class="clickable-row acive"-->
                            <tr ng-repeat="wTeam in meet.info.womensTeams" class="clickable-row" ng-click="(pickTeam(wTeam.teamID))" >
                                <td>#</td>
                                <td>{{wTeam.name}}</td>
                                <td>{{wTeam.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="heading-title">
                        <div data-ng-controller="MeetModalCtrl as openMeet">
                            <button type="button" class="btn btn-default pull-right" ng-click="openAddMensTeamModal('lg')">Add Team</button>
                        </div>
                        Men's Teams
                    </h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="mTeam in meet.info.mensTeams" class="clickable-row" ng-click="(pickTeam(mTeam.teamID))" >
                                <td>#</td>
                                <td>{{mTeam.name}}</td>
                                <td>{{mTeam.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" ng-show="isWomen()">
        <div class="panel-heading">
            <h4 class="heading-title">
                Selected Womens Team
            </h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>AA</th>
                    <th>Vault</th>
                    <th>Bars</th>
                    <th>Beams</th>
                    <th>Floor</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="gymnast in selectedTeam">
                        <td>#</td>
                        <td>{{gymnast.first}} {{gymnast.last}}</td>
                        <td ng-model="gymnast.aa">{{gymnast.score}}</td>
                        <td>
                            <input class="eventScore"
                                   title="wVault" value="{{gymnast.wVault}}"
                                   type="number" min="0" max="10"
                                   ng-model="gymnast.wVault"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'wVault', gymnast.wVault)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="wBars" value="{{gymnast.wBars}}"
                                   type="number" min="0" max="10"
                                   ng-model="gymnast.wBars"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'wBars', gymnast.wBars)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="wBeam" value="{{gymnast.wBeam}}"
                                   type="number" min="0" max="10"
                                   ng-model="gymnast.wBeam"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'wBeam', gymnast.wBeam)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="wFloor" value="{{gymnast.wFloor}}"
                                   type="number" min="0" max="10"
                                   ng-model="gymnast.wFloor"
                                   ng-change="updateGymnast(gymnast.gymnastID, 'wFloor', gymnast.wFloor)"
                                   ng-model-options="{updateOn: 'blur'}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default" ng-show="isMen()">
        <div class="panel-heading">
            <h4 class="heading-title">
                Selected Mens Team
            </h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>AA</th>
                    <th>Floor</th>
                    <th>Pommel</th>
                    <th>Rings</th>
                    <th>Vault</th>
                    <th>P Bars</th>
                    <th>High Bar</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="gymnast in selectedTeam | orderBy:-score">
                    <td>#</td>
                    <td>{{gymnast.first}} {{gymnast.last}}</td>
                    <td ng-model="gymnast.aa">{{gymnast.score}}</td>
                    <td>
                        <input class="eventScore"
                               title="mFloor" value="{{gymnast.mFloor}}"
                               type="number" min="0" max="10"
                               ng-model="gymnast.mFloor"
                               ng-change="updateGymnast(gymnast.gymnastID, 'mFloor', gymnast.mFloor)"
                               ng-model-options="{updateOn: 'blur'}">
                    </td>
                    <td>
                        <input class="eventScore"
                               title="mPommel" value="{{gymnast.mPommel}}"
                               type="number" min="0" max="10"
                               ng-model="gymnast.mPommel"
                               ng-change="updateGymnast(gymnast.id, 'mPommel', gymnast.mPommel)"
                               ng-model-options="{updateOn: 'blur'}">
                    </td>
                    <td>
                        <input class="eventScore"
                               title="mRings" value="{{gymnast.mRings}}"
                               type="number" min="0" max="10"
                               ng-model="gymnast.mRings"
                               ng-change="updateGymnast(gymnast.id, 'mRings', gymnast.mRings)"
                               ng-model-options="{updateOn: 'blur'}">
                    </td>
                    <td>
                        <input class="eventScore"
                               title="mVault" value="{{gymnast.mVault}}"
                               type="number" min="0" max="10"
                               ng-model="gymnast.mVault"
                               ng-change="updateGymnast(gymnast.id, 'mVault', gymnast.mVault)"
                               ng-model-options="{updateOn: 'blur'}">
                    </td>
                    <td>
                        <input class="eventScore"
                               title="mParallel" value="{{gymnast.mParallel}}"
                               type="number" min="0" max="10"
                               ng-model="gymnast.mParallel"
                               ng-change="updateGymnast(gymnast.id, 'mParallel', gymnast.mParallel)"
                               ng-model-options="{updateOn: 'blur'}">
                    </td>
                    <td>
                        <input class="eventScore"
                               title="mHigh" value="{{gymnast.mHigh}}"
                               type="number" min="0" max="10"
                               ng-model="gymnast.mHigh"
                               ng-change="updateGymnast(gymnast.id, 'mHigh', gynast.mHigh)"
                               ng-model-options="{updateOn: 'blur'}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/ng-template" id="addWomensTeamModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="womanModalLabel">Add a new women's team</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form" name="addWomensTeamForm">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label>Team name:</label>
                        <input type="text" class="form-control" ng-model="newTeam.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label>Email:</label>
                        <input type="email" class="form-control" ng-model="newTeam.email" required>
                    </div>
                </div>
                <div ng-repeat="gymnast in newTeam.gymnasts">
                    <label>First and last name:</label>
                    <input type="text" ng-model="gymnast.firstname"/>
                    <input type="text" ng-model="gymnast.lastname"/>
                </div>
                <button ng-click="addWoman()">Add gymnast</button>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok(0)">Login</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="addMensTeamModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="menModalLabel">Add a new men's team</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form" name="addMensTeamForm">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label>Team name:</label>
                        <input type="text" class="form-control" ng-model="newTeam.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label>Email:</label>
                        <input type="email" class="form-control" ng-model="newTeam.email" required>
                    </div>
                </div>
                <div ng-repeat="gymnast in newTeam.gymnasts">
                    <label>First and last name:</label>
                    <input type="text" ng-model="gymnast.firstname"/>
                    <input type="text" ng-model="gymnast.lastname"/>
                </div>
                <button ng-click="addMan()">Add gymnast</button>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok(1)">Login</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
