<div id="teams" data-ng-controller="MeetCtrl as meet">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#/1/teams" aria-controls="team" role="tab" data-toggle="tab">Team Scores</a>
        </li>
        <li role="presentation">
            <a href="#/1/individuals" aria-controls="indiv" role="tab" data-toggle="tab">Individual Scores</a>
        </li>
        <li class="pull-right" role="presentation">
            <a href="#/1/settings" aria-controls="settings" role="tab" data-toggle="tab">Meet Settings</a>
        </li>
    </ul>
    <br>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="heading-title">
                        Women's Teams
                        <button type="button" class="btn btn-default pull-right">Add Team</button>
                    </h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ToDo: First row must be class="clickable-row acive"-->
                            <tr ng-repeat="wTeam in meet.info.womensTeams" class="clickable-row">
                                <td>#</td>
                                <td>{{wTeam.name}}</td>
                                <td>{{wTeam.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="heading-title">
                        Men's Teams
                        <button type="button" class="btn btn-default pull-right">Add Team</button>
                    </h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="mTeam in meet.info.mensTeams" class="clickable-row">
                                <td>#</td>
                                <td>{{mTeam.name}}</td>
                                <td>{{mTeam.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="heading-title">
                Selected: {{meet.info.womensTeams[0].name}}
            </h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>AA</th>
                    <th>Vault</th>
                    <th>Bars</th>
                    <th>Beams</th>
                    <th>Floor</th>
                </tr>
                </thead>
                <tbody>
                    <!-- ToDo: What if it's a mens team? change the table?-->
                    <tr ng-repeat="gymnast in meet.selectedTeam">
                        <td>#</td>
                        <td>{{gymnast.first}} {{gymnast.last}}<input type="hidden" title="gymnastID" value="{{gymnast.gymnastID}}"></td>
                        <td>{{gymnast.score}}</td>
                        <td>
                            <input class="eventScore"
                                   title="wVault" value="{{gymnast.wVault}}"
                                   ng-model="gymnast.wVault" ng-change="updateGymnast()">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="wBars" value="{{gymnast.wBars}}"
                                   ng-model="gymnast.wBars" ng-change="updateGymnast()">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="wBeam" value="{{gymnast.wBeam}}"
                                   ng-model="gymnast.wBeam" ng-change="updateGymnast()">
                        </td>
                        <td>
                            <input class="eventScore"
                                   title="wFloor" value="{{gymnast.wFloor}}"
                                   ng-model="gymnast.wFloor" ng-change="updateGymnast()">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
