<!DOCTYPE html>
<html data-ng-app="cogss-ng-app">
<head>
    <title>COGSS 2.0</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <script type="text/javascript" src="js/libraries.js"></script>
    <script type="text/javascript" src="js/app.min.js"></script>
</head>
<body data-ng-controller="MainCtrl as main">
    <div class="container">
        <div class="page-header">
            <h1>Collegiate Online Gymnastics Scoring System</h1>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">COGSS 2.0</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/#/">Home</a></li>
                        <li><a href="/#/help">Help</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <data-ng-view></data-ng-view>


        <div class="footer">
            <hr>
            <div align=center>
                <div class="alert alert-warning" role="alert">
                    The site is almost complete! Data is mocked, only admin can make changes until users are fixed.
                </div>
                <p style="clear:both;"><small>This website was created and hosted by James Green for your use!<br>
                    See the source at <a href="https://github.com/Greenjam94/COGSS">Github</a></small></p>
            </div>
        </div>
    </div>

</body>
</html>